.grid_wrap {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
/*     grid-auto-rows: minmax(200px, auto); */
    /*grid-gap: 10px;*/
    grid-gap: 10px;
  }
  .grid_block {
	display: block;
    padding: 10px;
    border: 1px solid gray;
    width: 320px;
  }

/* Grid style */
.display-posts-listing.grid {
	display: grid;
	grid-gap: 16px;
}

.display-posts-listing.grid .title {
	display: block;
}

.display-posts-listing.grid img { 
	display: block; 
	max-width: 100%; 
	height: auto; 
}

@media (min-width: 600px) {
	.display-posts-listing.grid {
		grid-template-columns: repeat( 2, 1fr );
	}
}

@media (min-width: 1024px) {
	.display-posts-listing.grid {
		grid-template-columns: repeat( 4, 1fr );
	}
}