body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #222;
}


.grid_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 20px;
    margin: 1em auto;
}
.grid_block {
    /*display: grid;*/
}
.grid_block.vertical {
    grid-template-rows: max-content 200px 1fr;
    /*border: 1px solid gray;*/
}
.grid_block.horizontal {
    grid-template-columns: 140px minmax(230px, 1fr); 
    /*border: 1px solid gray;*/
}
.grid_block.horizontal .card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*min-height: 90%;*/
    padding: 10px;
    /*border: 1px solid red;*/
}
.grid_block .block_title {
    /*display: block;*/
    font-size: 1.6em;
}
.grid_block img { 
    object-fit: cover;
    margin-top: 1em;
}

/*#et-top-navigation {
    float: left;
}
*/
/*#top-menu li {
    display: inline-block;
    font-size: 14px;
    padding: 15px 0px 10px 0px;
    background-color: rgb(255, 222, 0);
    text-align: center;
    height: 40px;
    width: 100px;
}*/

@media (min-width: 1024px) {
    .grid_wrap {
        grid-template-columns: repeat(auto-fill, 240px );
    }
}

/*@media (min-width: 300px) {
    .grid_wrap {
        grid-template-columns: auto-fill, 1fr;
    }
}*/